<div class="dashboard-grid">
  <div class="videos-column">
    <div class="video-nav">
      <span><strong>Your Content</strong></span>
      <div class="video-nav-links">
        <%= link_to "All Videos", creator_videos_path %>
        <%= link_to 'New Video', new_creator_video_path, {remote: true, 'data-toggle':  "modal", render_layout: false} %>
      </div>
    </div>
    <div class="videos-column-list">
      <% @videos.each do |video| %>
        <div class="video-item-container">
          <img src="<%= video.thumbnail %>"/>
          <div class="video-item">
            <div class="video-item-details">
              <span><strong><%= video.name %></strong></span>
              <span><small><%= video.genre.name %></small></span>
              <span>0 Views</span>
              <span>0 Contracts</span>
            </div>
              <%= link_to creator_video_path(video.id), {remote: true, 'data-toggle':  "modal", render_layout: false} do %>
                <button class="video-item-button">
                  Details
                </button>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bullshit-column">
    <div class="graph-row">
      <div class="viewership">
        viewership
      </div>
      <div class="revenue">
        revenue
      </div>
    </div>
    <div class="statistics">
      statistics
    </div>
    <div class="contracts">
      contracts
    </div>
  </div>
</div>

<div class="modal" id="new-video-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<div class="modal" id="show-video-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>