<div class="chat-grid">
  <div>
    <div class="column-header">
      <span class="column-title"><strong>Messages</strong></span>
    </div>
    <% @messages.includes(:user).each do |message| %>
      <div class="chat-item">
        <%= link_to creator_conversation_path(message.id, format: :js), remote: true do %>
        <div>
          <span><strong><%= message.company_chat_name(current_user.company) %></strong></span>
        </div>
        <div>
          <span><%= message.user.name %>: <%= message.body%></span>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="chat-window">
    <div class="empty-chat">
      <span>No message selected.</span>
    </div>
  </div>
  <div id="chat-details">
    <div class="empty-chat">
      <span>No message selected.</span>
    </div
  </div>
</div>

<pre>
  <%= @messages.map(&:conversation_id).sort %>
</pre>
<br />
<pre>
  <%= current_user.company.conversations.map(&:id).sort %>
</pre>