<div id ="chat-grid" class="chat-grid" data-company-id="<%= current_user.company.id %>">
  <div class="conversation-column">
    <div class="column-header">
      <span class="column-title"><strong>Messages</strong></span>
    </div>
    <div class="conversation-content" id="conversation-overview">
      <% @messages.includes(:user).each do |message| %>
        <div class="chat-item" id="chat-item-<%= message.conversation.id%>" data-conversation-id="<%= message.conversation_id%>">
          <%= link_to creator_conversation_path(message.id) do %>
          <div>
            <span><strong><%= message.company_chat_name(current_user.company) %></strong></span>
          </div>
          <div>
            <span><%= message.user.name %>: <%= message.body%></span>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="chat-window" class="conversation-column">
    <div id="convo-body" class="convo-body" data-conversation-id="<%= @conversation.id %>">
      <% @conversation.messages.order('created_at', 'id').each do |message| %>
        <div>
          <div class="convo-item-container <%= message.direction(current_user) %>">
            <small><%= message.user.name %></small>
            <div class="convo-item-bubble <%= message.direction(current_user) %>">
              <%= message.body %>
            </div>
            <span>
              <small><%= message.message_time %></small>
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="convo-form">
      <%= form_for(@message, url: creator_conversation_messages_path(@conversation.id), remote: true, html: {class: "big-form"} ) do |f| %>
        <%= f.text_area :body, placeholder: 'your message', id: "convo-form-input"  %>
        <div> 
          <%= f.submit 'send', class: "button-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="chat-details">
    <div>
      <img style="width: 100%; height: 200px" src="<%= @company.cover_image_url %>" />
      <%= @company.name %>
      <br />
      <%= @company.description %>
    </div>
  </div>
</div>
