<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content modal-two-sections">
    <div class="modal-left-section">
      <img src="<%= @publisher.cover_image_url %>"/>
      <div class="creator-details">
        <span><strong><%= @publisher.name %></strong></span>
        <span><%= @publisher.description %></span>
        <span>0 Views</span>
        <button>Chat with them</button>
      </div>
    </div>
    <div>
    <div class="modal-right-section">
      <div class="video-header">
        <div>
          <span class="video-title"><strong>Example Content</strong></span>
        </div>
        <div class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><strong>&times;</strong></span>
        </div>
      </div>
      <div class="creator-videos">
        <% @videos.each do |video| %>
          <div class="section-video">
            <img src="<%= video.thumbnail %>" />
            <div>
              <span><%= video.name %></span>
              <span><%= video.description %></span>
              <span>0 views</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
