<nav class="navbar">
  <div class="logo">
    <span>
      Logo
    </span>
  </div>
  <div class="navbar-links">
    <%= link_to "Dashboard", creator_dashboard_path %>
    <%= link_to "Analytics", root_path %>
    <%= link_to "Bazaar", root_path %>
  </div>
  <div class="dropdown">
    <div class="drop-btn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </div>
    <div class="dropdown-content">
      <%= link_to "Profile", root_path %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </div>
  </div> 
</nav>