<nav class="navbar">
  <div class="logo">
    <img src="/logo.png" alt="LOGO" />
  </div>
  <div class="navbar-links">
    <%= link_to creator_dashboard_path do %>
      <div>
        <span>Dashboard</span>
      </div>
    <% end %>
    <%= link_to creator_conversations_path do %>
      <div id="chat-link">
        <span>Chat</span>
        <% if @unread.present? %>
          <span id="chat-bubble"></span>
        <% end %>
      </div>
    <% end %>
    <%= link_to creator_bazaar_browse_path do %>
      <div>
        <span>Bazaar</span>
      </div>
    <% end %>
  </div>
  <div class="dropdown">
    <div class="drop-btn">
      <%= current_user.company.name %>
    </div>
    <div class="dropdown-content">
      <%= link_to "Profile", root_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </div> 
</nav>
