<div class="convo-item-container <%= message.direction(user) %>">
  <small><%= message.user.name %></small>
  <div class="convo-item-bubble <%= message.direction(user) %>">
    <%= message.body %>
  </div>
  <span>
    <small><%= message.message_time %></small>
  </span>
</div>
