<nav class="navbar">
  <div class="logo">
    <img src="/logo.png" alt="LOGO" />
  </div>
  <div class="navbar-links">
    <%= link_to "Dashboard", root_path %>
    <%= link_to publisher_conversations_path do %>
      <div id="chat-link">
        <span>Chat</span>
        <% if @unread.present? %>
          <span id="chat-bubble"></span>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Bazaar", publisher_bazaar_path %>
  </div>
  <div class="dropdown">
    <div class="drop-btn">
      <%= current_user.name %>
    </div>
    <div class="dropdown-content">
      <%= link_to "Profile", root_path %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </div>
  </div> 
</nav>