<nav class="navbar">
  <div class="logo">
    <span>
      Logo
    </span>
  </div>
  <div class="navbar-links">
    <%= link_to "Dashboard", root_path %>
    <%= link_to "Chat", publisher_conversations_path %>
    <%= link_to "Bazaar", publisher_bazaar_path %>
  </div>
  <div class="dropdown">
    <div class="drop-btn">
      <%= current_user.name %>
    </div>
    <div class="dropdown-content">
      <%= link_to "Profile", root_path %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    </div>
  </div> 
</nav>