<div class="devise-view">
  <div class="devise-form">
    <div class="logo">
      <img src="/logo.png" alt="LOGO" />
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
      </div>

      <div class="devise-form-links">
        <%= f.submit "LOG IN", class: "button-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>